*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	overflow: hidden;
	font-size: 62.5%;
}

body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	background-repeat: none;
	background-size: cover;
}

section {
	height: 95vh;
	justify-items: center;
	align-items: center;
}

section.home {
	display: grid;
	grid-template-columns:
		[container-start] 1fr [center-start] repeat(
			9,
			[col-start] minmax(min-content, 11rem) [col-end]
		)
		[center-end]1fr [container-end];
	text-align: center;
	background-position: center;
	grid-template-rows: repeat(7, 1fr);
	background-image: url("./img/sandwich2.jpeg");
	background-repeat: none;
	background-size: cover;
	overflow: hidden;
}

div.home__hero {
	grid-column: 13;
	margin: 1.3rem;
}
div.home__hero > img {
	border: 3px black solid;
	border-radius: 50%;
}
div.home__title {
	grid-column: 1/14;
	font-size: 5rem;
	color: rgb(222, 199, 18);
	font-weight: bold;
	text-align: end;
	width: 100%;
	margin-right: 3rem;
}

section.contact {
	display: grid;
	grid-template-columns:
		[container-start] 1fr [center-start] repeat(
			3,
			[col-start] minmax(min-content, 11rem) [col-end]
		)
		[center-end]1fr [container-end];
	text-align: center;
	background-color: #ffffffe6;
	align-items: center;
}

div.contact__title {
	grid-column: 1/6;
	grid-row: 1;
	text-transform: capitalize;
}

div.logo {
	grid-row: 2;
	grid-column: 2/5;
	width: 80%;
}
div.logo > img {
	width: 100%;
	border: 1px black solid;
	border-radius: 8%;
}

div.contact__info {
	grid-row: 3;
	grid-column: 2/5;
	font-size: calc(0.9vh + 2vw);
	margin-top: 1.5rem;
}
div.contact__info--name {
	font-weight: bold;
}
div.contact__info--email > a {
	color: #000;
	text-decoration: none;
}
div.contact__map {
	grid-row: 5;
	grid-column: 2/5;
	height: 100%;
}

div.contact__message {
	grid-row: 4;
	grid-column: 1/6;
}

section.menu {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: minmax(100px, auto);
	text-align: center;
	background-color: #fff;
	grid-auto-flow: row;
}
section.bakery {
	height: 100%;
}

#btn__holder {
	grid-column: 9/13;
	grid-row: 4;
}

.btn__order {
	margin: 1.2rem;
}

.btn__menu > a {
	text-decoration: none;
	text-transform: capitalize;
}

.btn__order,
.btn__menu {
	border: 1px #441924 solid;
	-webkit-box-shadow: 0px 10px 18px 1px rgb(0 0 0 / 50%);
	-moz-box-shadow: 0px 10px 18px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 10px 18px 1px rgb(0 0 0 / 50%);
}
.btn__order:hover,
.btn__menu:hover {
	background-color: #441924;
	border: 1px #ffffff solid;
	color: #ffffff;
	transform: scale(1.1);
}

div[class*="menu_title"] {
	grid-column: 1/13;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

div.menu_title_menu {
	background-image: url("./img/Huevos.jpeg");
}
.menu_title_sandwiches {
	background-image: url("./img/Chicken an Ajilli.jpeg");
}
.menu_title_specialties {
	background-image: url("./img/plate2.jpeg");
}
.menu_title_bakery {
	background-image: url("./img/Bakery2.jpg");
}
.menu_title_cafe {
	background-image: url("./img/Cafe.jpeg");
}

p.menu_title--main {
	font-size: clamp(1rem, calc(1.75vh + 3.25vw), 2rem);
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	top: 30%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: #ffffff;
	text-shadow: 20px;
}

div.menu_title_bakery > p.menu_title--main {
	top: 27%;
}

p.menu_title--sub {
	font-size: calc(0.5vh + 0.9vw);
	top: 57%;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #ffffff;
	right: 0;
}

div.menu_overlay {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.15);
}

.menu_overlay--title {
	height: 50%;
	width: 50%;
	background-color: #ffcf3f;
	top: 25%;
	position: absolute;
	bottom: 0;
	left: 25%;
	right: 0;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
	-webkit-box-shadow: 0px 13px 14px 2px rgb(0 0 0 / 46%);
	-moz-box-shadow: 0px 13px 14px 2px rgba(0, 0, 0, 0.46);
	box-shadow: 0px 13px 14px 2px rgb(0 0 0 / 46%);
}
div.menu_image > img {
	width: 40%;
	border: 1px black solid;
	border-radius: 10%;
}
[class*="menu_item_"] {
	text-align: center;
	align-items: center;
	padding: 0.3rem;
}

.menu_breakfast {
	display: grid;
	grid-column: 2/12;
	grid-auto-rows: minmax(75px, auto);
	gap: 0.5rem;
	padding-top: 1.2rem;
}

.menu_sandwiches,
.menu_specialties,
.menu_bakery,
.menu_cafe {
	display: grid;
	grid-column: 2/12;
	grid-auto-rows: minmax(100px, auto);
	gap: 0.5rem;
}

/* NAVBAR */

.navbar {
	background-color: rgba(255, 255, 255, 0.96);
}

.me-auto {
	margin: auto;
}

a.brand__outer,
#btn__holder a {
	padding: 1rem 2rem;
}

.nav-link {
	font-size: calc(0.8vh + 0.7vw);
	text-transform: uppercase;
	transform: scale(0.95);
}
.nav-link:hover {
	color: #441924;
	transform: scale(1.1);
	transition: all 0.3s cubic-bezier(1, 0, 0, 1);
}

.active {
	font-weight: bold;
	font-size: 20px;
	color: green;
}

/* HOME */

p.item_description {
	font-size: calc(0.9vh + 0.9vw);
	padding: 0.5rem 0;
}
p.contact__item--description {
	font-size: calc(0.9vh + 1.1vw);
	padding: 0.5rem 0;
	font-weight: bold;
}

p.item_title {
	font-size: calc(0.9vh + 0.9vw);
	font-weight: bold;
	padding-top: 0.2rem;
	margin: 0;
}

div.bake_cat_cafe > div p.item_title,
div.beverages > div p.item_title {
	font-weight: normal;
}

/* **BAKERY** */

[class*="--title"] {
	font-size: calc(1vh + 1.3vw);
	font-weight: bold;
	text-transform: uppercase;
}

p.cake--title,
p.flan--title {
	grid-column: 1/3;
}
p.cake--footer {
	grid-column: 1/3;
	font-size: calc(1vh + 1vw);
	text-transform: uppercase;
	font-style: italic;
}

div.bake_cat_cake {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
div.bake_cat_flan {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

div.bake_item_12 {
	grid-column: 1/3;
}

/* **END-BAKERY** */

footer.footer {
	background-color: #441924;
	grid-row: 6;
	grid-column: 1/6;
	width: 200%;
	height: 100%;
}

.footer__social--link:link,
.footer__social--link:visited {
	display: inline-block;
	background-color: transparent;
	border-radius: 18%;
	height: 4rem;
	width: 4rem;
	margin-right: 1rem;
	margin-top: 0.5rem;
	transform: scale(0.8);
}

.footer__social--link svg {
	font-size: 2rem;
	color: #ffffff;
	position: absolute;
	right: 1.1rem;
}
.footer__social--link i.fa-facebook-f {
	right: 1.4rem;
}
.footer__social--link i.fa-twitter {
	right: 0.9rem;
}

.brand__outer img {
	width: 50%;
	border-radius: 50%;
}
.footer__copyright {
	margin-bottom: 2rem;
	color: #ffffff;
}

@media only screen and (max-width: 539px) {
	.brand__outer {
		width: 20vw;
	}
	a.brand__outer,
	#btn__holder a {
		padding: 0rem 0rem;
	}
}
@media only screen and (min-width: 540px) {
	.menu_breakfast,
	.menu_sandwiches,
	.menu_specialties {
		display: grid;
		grid-column: 1/13;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: minmax(100px, auto);
		gap: 0.5rem;
	}
}
@media only screen and (min-width: 634px) {
	.menu_breakfast,
	.menu_sandwiches,
	.menu_specialties {
		display: grid;
		grid-column: 1/13;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: minmax(100px, auto);
		gap: 0.5rem;
	}
	.menu_cafe {
		display: grid;
		grid-column: 1/13;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: minmax(100px, auto);
		gap: 8.5vw;
	}
	div.bake_cat_flan {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	p.flan--title {
		grid-column: 1/4;
	}

	div.bake_item_12 {
		grid-column: auto;
	}
}
@media only screen and (min-width: 767px) {
	div.bake_cat_cake {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	p.cake--title {
		grid-column: 1/4;
	}

	p.cake--footer {
		grid-column: 1/4;
	}

	.menu_overlay--title {
		width: 50%;
	}
	p.menu_title--sub {
		top: 43%;
	}
	div.contact__info {
		grid-row: 4;
		grid-column: 1/4;
		font-size: calc(0.9vh + 0.9vw);
		top: -40px;
		position: relative;
	}

	div.contact__map {
		grid-row: 4;
		grid-column: 4/6;
		height: 100%;
	}
	div.contact__message {
		grid-row: 6;
	}
}

@media only screen and (min-width: 767px) and (min-height: 990px) {
	div.menu_title_bakery > p.menu_title--main {
		top: 25%;
	}
	p.menu_title--sub {
		top: 43%;
	}

	.menu_overlay--title {
		height: 29%;
		width: 50%;
	}
}

@media only screen and (min-width: 1000px) {
	p.menu_title--sub {
		top: 47%;
	}

	#btn__holder {
		grid-column: 1/13;
		grid-row: 4;
	}
}
@media only screen and (min-width: 1300px) {
	.menu_overlay--title {
		height: 57%;
		width: 40%;
		background-color: #ffcf3f;
		top: 25%;
		position: absolute;
		bottom: 0;
		left: 30%;
		right: 0;
		border-bottom-right-radius: 50%;
		border-bottom-left-radius: 50%;
	}
	p.menu_title--sub {
		top: 47%;
	}
	.nav-link {
		font-size: calc(0.8vh + 0.3vw);
	}
}
